h1{
            color: blueviolet;
            background-color: aquamarine;
        }
        p{
            color: black;
            background-color: blanchedalmond;
        }
        button{
            color: brown;
            background-color: blue;
        }